*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-OpenSans-link{
    font-family: 'Open Sans';
}
.font-Im-Fell-Great-Primier-link{
    font-family: 'IM Fell Great Primer';
}
.font-Dancing-Script-link{
    font-family: 'Dancing Script';
}
/* 1 rem = 16px*/
.large-font {
    font-size: 5rem;
    font-family: 'IM Fell Great Primer', serif;
   
 }
 .medium-font{
    font-size: 4rem;
    font-family: 'IM Fell Great Primer', serif;
 }
 .small-font{
    font-size: 1rem;
 }

body{
    /* min-width: 1920px; */
     /* display: flex; */
     /*Removes issue with excess whitespace */
    /* justify-content: center; */
    /* width: 100%;
    height: auto; */
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* Header Styling */
/* #header-wrapper{
    position: fixed;
    width: 100%;z-index: 1;
} */
#top-border{
    background-image: url("./images/parchment_texture.jpg");
    background-size: cover;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
    position: relative;
}
#header{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-image: url("./images/chalkboard_textture.jpg");
    background-size:cover;
    position: relative;
    /* width: 100%; */
    z-index: 1; /* above everything */
}

#header .nav-menu li input{
    border-radius: 15px;
}
.search-container{
    display: flex;
    align-items: center;
}
.search-icon {
    color: #fff;
    font-size: 1rem;
    white-space: nowrap;
    margin-right: 5px;
}
#search{
    padding-left:5px;
    padding-right: 5PX;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu ul li{
    list-style: none;
    margin: 0 30px;
}
.nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    white-space: nowrap; 
}
.nav-menu li a:hover,
.nav-menu li a.active_page{
    border-bottom: dashed white 3px;
}
.nav-menu li a:visited{
    color: #fff;
}
.nav-menu img{
    margin: 0 30px;
    width: 500px;
}
.list-trigger{
    color: #fff;
    display: none; /* hides menu */ 
}
.list-close-trigger{
    color: #fff;
    display: none;
}
/* Dropdown menus */
/* 
   TODO: [ ] Animations/Transition issue - Not responding 
*/
.dropdown-container{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    text-align: center;
    position: absolute;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    transform: translateX(-40px) translateY(10px);

}
.dropdown-menu.active{ /* displays dropdown-menu */
    visibility: visible;
    background-color: transparent;
    overflow:visible; /* shows all li elements*/
}
.dropdown-menu ul{ 
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
}
.dropdown-item{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    /* border: #fff 1px solid; */
    padding: 10px 0px;
    position: relative;
    top: 30px;
}
.dropdown-item:hover{
    background-color: rgba(255, 255, 255, 0.8);
    border: black 1px solid;
}
.dropdown-item:hover .item{
    color: black;
}
/* .dropdown-item a:hover{
    border: unset !important;
    color: black;
} */
.subdropdown-menu{
    display: none;
}
.submenu-trigger{
    display: none; /* hides the chevron trigger icon */
}
.subdropdown-menu ul{
    padding-top: 20px;
}
.subdropdown-menu .dropdown-item{
    text-align: left;
}
/* Footer Styling */
#footer-section{
    background-image: url("./images/chalkboard_textture.jpg");
    background-size:cover;
    color: #fff;
    /* width: 100%; */
    padding-top: 10px;
}
#columns{
    display:flex;
    justify-content: center;
}
.footercol{
    /* border: red 1px dotted; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 20px 50px; */
    margin: 10px 20px;
    white-space: nowrap;
}
.col-heading{
    margin-bottom: 25px;
}
.footercol img{
    width: 200px;
    margin-bottom: 20px;
    /* padding-top: 55px; */
}

#google-map{
    height: 150px;
    width: 200px;
    background-color: rgb(226, 226, 226);
    margin-top: 5px;
    cursor: pointer;
}
#subscribe-input{
    border: none;
    padding-left:5px;
    padding-right: 5PX;
    padding-top: 2px;
    padding-bottom: 2px;
  
}
#subscribe-btn{
    background-color:#ffb5b5;
    color: black;
    border: none;
    margin-left: 5px;
    padding: 2px 5px;
    cursor: pointer;
    /* border: 1px solid white; */
    font-family: 'IM Fell Great Primer', serif;
}
#subscribe-btn:active{
    background-color: #fff;
    color: black;
}
.social-btn-group{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.social-icon{
    font-size: 25px;
    cursor: pointer;

}
#bottom-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 20px;  */
    padding-bottom: 20px;
}
.info-right{
    display: flex;
    white-space: nowrap;
}
.info-right p {
    cursor: pointer;
}
.info-right p:not(:last-child){
    margin-right: 5px;
}

/* Home webpage */
#main-img-container{
    display: flex;
    justify-content: center;
 
}
#storefront-img{
    /*TODO adjust for differing screens */
    width: 100%;
    height: auto;

}
/*  Three image group */
#info-imgs-container{
    display: flex;
    justify-content: center;
    background-image: url("./images/parchment_texture.jpg");
    background-size: cover;
    padding: 15px;
}
.info-imgs-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);   
    grid-template-rows: 1fr 1fr;
    gap:10px
}
.centered-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: 
    translate(-50%, -50%);
}
.lower-centered-txt{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-right-txt{
    position: absolute;
    bottom: 8px;
    right: 10%;
}
.bottom-centered-txt{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered-icon{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: 
    translate(-50%, -50%);
}
.box-shadow{
    box-shadow: -5px 5px 3px rgba(46, 46, 46, 0.5);
}
.grid-item-01 {
  grid-column: 1/2;
  grid-row: 1/3;

  position: relative;
  text-align: center;
  color: #fff;
}
.grid-item-01 .large-font{
    letter-spacing: 20px;
}
.grid-item-01 img{
    width: 100%;
    height: 100%;
}
.grid-item-02{
    grid-column: 2/3;
    grid-row: 1/2;
 
    position: relative;
    text-align: center;
    color: #fff;
    overflow: hidden;
}
.grid-item-02 p{
    white-space: nowrap;
}
#truckIcon{
    width: 200px;
    height: auto;
}
.grid-item-02 img{
    width: 100%;
    height: 100%;
}
.grid-item-03 {
    grid-column: 2/3;
    grid-row: 2/3;

    position: relative;
    text-align: center;
    color: #fff;
}
.grid-item-03 img{
    width: 100%;
    height: 100%;
}
.grid-item-03 div p{
  background-color: #9c3535;
  padding: 5px 15px;
  white-space: nowrap;
}

/* Carousel Banner */
.carousel{
    position: relative;
    overflow: hidden;
    max-height: 350px; /* reduce banner size*/
    /* width: 100%; */
}
.banner_btn_group{
    position: absolute;
    bottom: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.carousel_btn{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 20px 10px;
    border-radius: 20%;
    margin: 10px;
}
.carousel_btn:not(:last-child){
    margin-right: 10px;
}
.carousel_btn:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.carousel_img{
    width: 100%;
    /* height: auto; */
    /* max-height:100%; */
    display: block;
}
.carousel_txt_container{
    color: #fff;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}
.carousel_view_btn{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);   
    border: 2px white solid;
    width: 20%;
    background-color: #744333;
    color: #fff;
    padding: 7px 30px;
    cursor: pointer;
}
.carousel_dot_indicators{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);   
}
.carousel_dot{
    background-color: #9c3535;
    cursor: pointer;
    padding: 1px 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.carousel_dot:hover{
    background-color: #fff;
}
.active{
    background-color:#fff;
}
#ourStory_container{
    display: flex;
    justify-content: center;
    background-image: url("./images/parchment_texture.jpg");
    background-size: cover;
    padding: 15px;
    position: relative;
}
#ourStory_container img{
    width: 100%;
    height: auto;  
}
.story_txt_container{
    color: #fff;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
}
.story_txt_container p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.story_txt_container p + p{
   font-size: 1.3rem;
   letter-spacing: 5px;
   font-family: 'IM Fell Great Primer', serif;

}

/* Contact page */
#contact_pg_container{
    position: relative;
}
.info_card_container{
    position: absolute;
    text-align: center;
    color: #fff;
    left: 50%;
    top: 30%;
    transform: translate(-50%);   
    border: #EEDAB9 3px solid; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 60px;
}
.info_card_container > p{
    font-family: 'Dancing Script', serif;
    margin-bottom: 15px;
    white-space: nowrap;
}
.contact_details p{
    font-family: 'Open Sans', serif;
    font-size: 1.5rem;
    white-space: nowrap;
}
#contactPg_bgImg{
    width: 100%;
    height: auto;
    display: block; /*removes whitespace*/
}

/* About page */
#topAboutImg, #aboutTextBg{
    width: 100%;
    height: auto;
    display: block;
}
.about_text_container{
    position: relative;
    color: #fff;
    overflow: hidden;
}
.about_text_container div{
    position: absolute;
    width: 50%;
    top: 30%;
    left: 5%;
}
.about_text_container .about_us_header{
   position: absolute;
   font-family: 'Dancing Script', serif;
   /* top: -30%; */
   bottom: 110%;
   left: 25%;
   width: 50%;
   white-space: nowrap;
}
.about_text_container .about_text {
    letter-spacing:2px;
    font-family: serif;
    font-size: 2rem;
}
.about_text_container .about_text span{
    display: block;
    text-indent: 5%;
}
.about_text_container .about_text span:not(:last-of-type){
    margin-bottom: 20px;
}

.bottomRowImgs{
    display: flex;
    flex-grow: 1;
    height: auto;
    width: 33%;
}
.imageRow_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Product Page */
#filter_products_container{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/parchment_texture.jpg");
    background-size: cover;
    white-space: nowrap;
}
.catBtnGroupTitle{
    font-family: 'Dancing Script', serif;
    margin-right: 10px;
    font-size: 2.5rem;
}
.filterBtn{
    border: 2px solid #3F2C2C;
    background-color: #3F2C2C;
    color: #fff;
    padding: 7px 23px;
    border-radius: 10px;
    font-family: 'IM Fell Great Primer', serif;
    letter-spacing: 1px;
    font-size: 1.5rem;
    cursor: pointer;
}
.filterBtn:not(:last-child){
    margin-right: 10px;
}
.filterBtn:hover{
    border: 2px solid #3F2C2C;
    background-color: #fff;
    color: #3F2C2C;
}
.filterBtn:active{
    border: 2px solid #3F2C2C;
    background-color: #3F2C2C;
    color: #fff;
}

#products_container .catTitle_container{
    background-color: #3F2C2C;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.catTitle_container div{
    width: 25%;
    background-color: #fff;
    height: 2px;
    display: flex;
    align-self: center;
}
.catTitle_container .catTitle{
    font-family: 'Dancing Script', serif;
    margin: 0px 20px;
}
.products_grid_container{
    background-image: url("./images/parchment_texture.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: minmax(0,600px) minmax(0,600px);
    justify-content: center;
    padding:30px 40px;
    gap:40px 50px;
}
.product{
    display: flex;
    /* width: 570px; */
    width: auto;
}
.product img{
    width: 50%;
    object-fit: cover;
}
.product_details_container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.product_details_container .productName{
    font-size: 1.8rem;
    margin-bottom: 10px;
    white-space: nowrap;
}
.product_details_container .productDescription{
    margin-bottom: 30px;
}
.product_details_container .price{
    font-size: 1.3rem;
    font-weight: bold;
}
.product_details_container .viewBtn{
    padding: 2px 40px;
    border-radius: 20px;
    border: #744333 solid 3px;
    color: #744333;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.viewBtn .view_link{
    text-decoration: none;
    color: inherit;
}
.viewBtn:hover{
    background-color: #744333;
    color: #fff;
}
.viewBtn:active{
    background-color:#fff;
    color: #744333;
}
.pagination_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-column:1/3;
    width: 100%;
}
.pagination_container .navigation{
    display: flex;
    margin: 0px 20px;
    align-items: center;
}
.navigation .prevPageBtn,
.navigation .nextPageBtn{
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.pagination_container .decoLine{
    width: 30%;
    background-color:black;
    height: 3px;
    display: flex;
}

/* Product Detail Page
    TODO: Make page responsive  */
#detailImgBannerContainer{
    position: relative;
}
#detailImgBannerContainer img{
    width: 100%;
    max-height: 360px;
    display: block;
    object-fit: cover;
}
#detailImgBannerContainer p{
    position: absolute;
    color: #fff;
    z-index: 1;
    left: 50%;
    top: 40%;
    transform: translate(-50%); 
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 20px;  
    font-family: 'IM Fell Great Primer';
    letter-spacing: 10px;
    font-size: 4rem;
}
#wrapper{
    background-image: url("./images/parchment_texture.jpg");
    background-size: cover;
    overflow: hidden; /* clears up issue with whitespace on top */
}
#detail_card_container{
    background-color:#FFF7EB ;
    padding: 15px;
    margin: 15px;
 
}
.productDetailInfoContainer{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.productDetailInfoContainer img{
    height: auto;
    object-fit:scale-down;
}
.productDetailInfoContainer .info{
    margin: 20px;
    max-width: 50%;
}
.productDetailInfoContainer div, p{
    margin-bottom: 10px;
}
.backBtn{
    color:#3F2C2C;
    background:none;
    border: none;
    margin-bottom: 10px;
    font-family: 'Open Sans';
    font-size: 1.5rem;
    cursor: pointer;
}
.backBtn i{
    margin-right: 5px;
}
.backBtn:hover{
    text-decoration: underline;
}
.productDetailInfoContainer img{
    max-width: 50%;
}

.productDetailInfoContainer .detailProductName{
    font-family: 'Dancing Script';
    font-size: 4rem;
    color: #744333;
}
.detailStars i:not(:last-child){
    margin-right: 5px;
}
.detailPrice{
    font-family: 'Open Sans';
    font-size:2rem;
}
.detailBtnGroup{
    display: flex;
    align-items:center; 
}
.detailBtnGroup i{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}
.detailBtnGroup .quantity{
    background-color: #fff;
    border: 1px solid black;
    padding: 10px 14px;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
    margin-bottom: 0px; /* removes margin from prev. style */ 
}
.detailBtnGroup .addToCartBtn{
    background-color: #9C3535;
    border: none;
    color: #fff;
    font-family: 'Open Sans';
    padding:10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.3rem;
}
.detailDescription{
    font-family: 'Special Elite';
    line-height: 30px;
    letter-spacing: 2px;
    /* margin-bottom: 10px; */
}
.specificationAndReviewContainer{
    margin-top: 20px;
}
.tabGroup{
    display: flex;
    margin-bottom: -10px;
}
.tabbedText{
    background-color: #E5BCA5;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}
.tabbedText.selected{
    background-color: #F5DACA;
}
.displayedInfo{
    background-color: #F5DACA;
    padding: 20px;
   
}
#advertisments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#advertisments .mainAdImgs{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.mainAdImgs div img{
    width: 100%;
}
.mainAdImgs div:first-child{
 margin-right: 10px;
}
.img1, .img2{
    position: relative;
}
.img1 p, .img2 p{
    position: absolute;
    color: #fff;
    font-family: 'Dancing Script';
    font-size: 4rem;
}
.img1 p{
    bottom: 0%;
    left: 5%;
}
.img2 p{
    transform: translate(-50%, 50%);
    bottom: 50%;
    left: 50%;
    white-space: nowrap;
}

.relatedProductsCarouselContainer{
    /* background-color:#3f2c2c; */
    background-image: url('./images/wood.jpg');
    background-size: cover;
    color: #fff;
    padding: 40px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /*testing...*/
    /* overflow:hidden;
    position:relative; */
}
.productsCarousel-container{
    /* width: 1370px; */
    width: 100%;
    z-index: 3; 
    margin-left: 20px;
}
.carouselCard{
    margin-right: 30px;
}
.carouselCard .cardImg{
   /* Image fill up parent div container*/
   height: auto; 
   width: 100%;
}
.carouselCard .cardInfo{
    background-color: #866a6a;
    display: flex;
    justify-content: center;
}


/* Cart Page Currently working on */


#cart-page-container{
    background-image: url(./images/woodentableBG.jpg);
    background-size: cover;
    overflow: hidden; /* fixes whitspace issue */  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cart-page-container .motto{
    text-align: center;
    padding: 10px 0px;
    background-color: #673434;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0px;/* gap gone*/
    font-family: 'IM Fell Great Primer';
    letter-spacing: 7px;
}
.row-align{
    display: flex;
    white-space: nowrap;
}
.cart-order-container{
    display: flex;
    flex-direction: column; 
    margin: 30px 15px;   
}
.order-details-container{
    background-color: #fff;
    color: #673434;
    width: 100%;/* fills the parent's remaing space*/
}
/*list of orders */
#title-order-grid-container{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 50px;
    background-color: #43322D;
    color: #fff;
    padding-top: 20px;
    width: 100%;
}
.item-col-title,.price-col-title, .quantity-col-title, .total-col-title{
    font-family: 'Dancing Script';
    font-size: 2rem;

}
.price-col-title{
    grid-column-start: 3;
    grid-column-end: 4;
}
.order{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 70px;
    /*adjust...*/
    padding: 20px 0px 0px 15px;
    border-bottom: #BEBEBE dashed 3px;
}
.order .product-data{
    display: flex;
    grid-column: 1/3;
}
.order .price-data{
    grid-column: 3/4;
}
.order .qty-data{
    grid-column: 4/5;
    width: 3rem;
    margin-left: 10%;
    height: 2.5rem;
}
.order .total-data{
    grid-column: 5/6;
}
.order .del-btn{
    grid-column: 6/7;
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    background-color: #673434;
    color: #fff;
    margin-left: 35%;
}
/* user input of form */
.customer-details-container{
    background-color: #E9DECD;
    padding: 20px;
    max-width: 40%; /* limit width */
    min-width: 30%;
    color: #2b221e;
}

.order-summary-container, .payment-container, 
.order-method-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-summary-container .subtotal, .tax, .total{
    display: flex;
    justify-content: space-between;
    gap: 35px;
}
.order-summary-container .total{
    border-top: #4B3C37 3px solid;
    padding-top: 15px;
}
.order-contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-contact-container .contact_header{
    text-align: center;
    margin-top: 10px;
}
.order-contact-container input{
    width: 80%;
    margin-bottom: 10px;
    padding-left: 5px;
    height: 25px;
    border: none;
}
.payment-container .payment_header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.payment_header .cardIcon{
    width: 40%;
    margin-left: 10px;
}
.payment-container input{
    width: 80%;
    margin-bottom: 15px;
    padding: 3px;
}
.payment-container label{
    margin-left: 45px;
    align-self:flex-start;/* parent must be flex*/
}
.cardInfo-container{
    margin-bottom: 10px;
}
.cardInfo-container input{
    border: none;
    padding: 3px;
}
.cardInfo-container p{
    margin-left: 30px;
}
.cardInfo-container .card-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.card-input-container div{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.card-input-container div input{
    width: 39%;
}
.order-method-container{
    border-top:#B6B6B6 3px dashed;
    border-bottom:#B6B6B6 3px dashed;
    padding-top: 20px;
    margin-bottom: 20px;
}
.order-method-container .time_header,
.delivery_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-method-container .timeIcon{
    width: 8%;
    margin-left: 10px;
    transform: translate(-0%, -20%);
}
.order-method-container .truckIcon{
    width: 14%;
    margin-left: 10px;
}
.order-method-container input{
    border: none;
    padding: 3px;
}
.order-method-container .deliveryNote{
    white-space: pre-wrap;
    font-size: 0.75rem;
    padding-bottom: 10px;
}
.payment-container .phoneIcon{
    width: 20%;
    margin-right: 10px;
    transform: translate(-0%, -10%);
}
.payment-container .phoneContact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.payment-container .order-btn{
  background-color:#9C3535;
  color: #fff;
  border: none;
  padding: 10px 20%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.assistance_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.orderSum_header,.contact_header, .payment_header, .time_header, .delivery_header, .order-btn{
    font-family: 'IM Fell Great Primer';
    font-size: 2rem;
    /* text-transform: uppercase; */
    color:#4B3C37 ;

}






/* - Media Queries  - */
@media (max-width:1500px){
    .search-container{
        margin-top: 10px;
        margin-left: 10px;
    }
    /*TODO: collapse nav menu */
    .nav-menu img {
        margin: 0px 0px;
        width: 350px;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .nav-menu ul {
      margin-top: 10px;
    }
    .dropdown-item{ 
        position: relative;
        top: -10px; /* align the dropdown to navbar*/
    }
      /* About page */
    .about_text_container .about_text {
        font-size: 1.5rem;
    }
}
@media (max-width:1250px){
    .large-font{
        font-size: 4rem;
    }
    .grid-item-01 .large-font{
        letter-spacing: 5px;
    }
    .medium-font {
        font-size: 3rem;
    }
    #truckIcon{
        width: 100px;
    }
    /* About page */
    .about_text_container .about_us_header{
        left: 30%;
     }
    .about_text_container .about_text {
        font-size: 1.25rem;
    }
    /* Products Page */
    .products_grid_container {
        /* note: affects the spacing of grid objects */
        grid-template-columns: repeat(2,minmax(0,350px) );
        padding:10px;
        gap:20px 20px;
    }
    .product {
      height: 200px;
      width: 300px;
      /* overflow: hidden; */
    }
    .product_details_container .productName {
        font-size: 1.3em;
        margin-bottom: 5px;
    }
    .product_details_container .productDescription {
        margin-bottom: 10px;
        font-size: 0.7rem;
    }

}
/* Mobile versions */
@media (max-width: 900px ){
    .large-font{
        font-size: 2rem;
    }
    .medium-font {
        font-size: 1.5rem;
    }
    .small-font{
        font-size: 0.5rem;
    }
    #truckIcon{
        width: 80px;
    }
    .carousel_view_btn {
        width: 40%;
    }
    /* mobile menu version */
    .nav-menu ul{
        display: none;
        margin: 0;
    }
    .nav-menu ul li:not(:last-child){
        margin-bottom: 20px;
    }
    .list-trigger{
        position: absolute;
        right: 30px;
        font-size: 40px;
        display: block;
    }
    .nav-menu ul.is-open{
        display: block;
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 40px;
        padding-bottom: 20px;
        z-index: 1;
        min-height: 100vh;
    }
    .list-close-trigger{
        font-size: 20px;
        z-index: 2;
        position: absolute;
       
    }
    .list-close-trigger.is-open{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .dropdown-trigger{
        display: flex
    }
    /*  Sub menu for Products*/
    .nav-menu .subdropdown-menu ul li {
        margin: unset;
    }
    .subdropdown-container{
        position: relative;
        margin-left: 5%;
        width: 150px;
    }
    .submenu-trigger{
        display: block;
        margin-left: 5px;
    }
    .submenu-trigger .chevorn-open{
        color: #fff;
        position: relative;
        top: 5px;
        left: 20%;   
        cursor: pointer;
    }
    .chevorn-open.active{
        transform: rotate(180deg);
        background-color: transparent;
        display: inline-block;
    }
    .subdropdown-menu ul{
        display: flex;
        flex-direction: column;
    }
    .subdropdown-menu.active {
        display: block;
        /* height: auto; */
        background-color: transparent;
    }
    .subdropdown-menu ul .dropdown-item{
        border: unset;
        background-color: transparent;
    }
    .subdropdown-menu ul .dropdown-item a{
        font-size: 1.3rem;
        color: #fff;
    }
    .subdropdown-menu .dropdown-item:hover{
        padding-bottom: 2px;
        color: #fff;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    .subdropdown-menu .dropdown-item p{
      color: #fff;
    }
    /* Footer */
    #columns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:first baseline;
        flex-flow: wrap;
    }
    /* home page */
    .grid-item-03 {
        overflow: hidden;
    }
    /* about page*/
    .about_text_container .about_us_header{
        bottom: 110%;
        left: 30%;
        font-size: 3rem;
     }
    .about_text_container .about_text {
        font-size: 0.9rem;
    }
    /* Products page*/
    #filter_products_container {
        flex-wrap: wrap;
    }
    .filterBtn {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1rem;
    }
    /*Product Details page */
    .productDetailInfoContainer .detailProductName {
        font-size: 3rem;
    }
    .detailPrice {
        font-size: 1.5rem;
    }
    .detailDescription {
        line-height: 25px;
        letter-spacing: 1px;
        font-size: 0.8rem;
    }
    .detailBtnGroup i {
        font-size: 1.5rem;
    }
    .detailBtnGroup .quantity {
        background-color: #fff;
        border: 1px solid black;
        padding: 5px 10px;
        font-size: 1.5rem;
        margin-left: 5px;
        margin-right: 5px;
    }
    .detailBtnGroup .addToCartBtn {
        font-size: 1rem;
    }
}
@media (max-width:750px){
    .story_txt_container p + p {
        font-size: 0.8rem;
        letter-spacing: 2px;
    }
    .story_txt_container p{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .grid-item-03 div p {
        padding: 2px 5px;
    }
    .grid-item-03 .small-font {
        font-size: 0.3rem;
    }
    /* contact page */
    .info_card_container{
        top: 10%;
    }
      /* About page */
    .about_text_container .about_text {
    font-size: 0.8rem;
    }
    /* Products Page*/
    .products_grid_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0px;
        gap: 30px 0px;
    }
    /* Product Detail page */
    #detailImgBannerContainer p {
        top: 30%;
        font-size: 3rem;
    }
    /* Product Details page*/
    .productDetailInfoContainer .detailProductName {
        font-size: 2rem;
    }
    .detailStars i{
        font-size: 0.7rem;
    }
    .detailPrice {
        font-size: 1rem;
    }
    .detailDescription {
        line-height: 18px;
        letter-spacing: 1px;
        font-size: 0.7rem;
    }
    .detailBtnGroup .quantity {
        padding: 7px 7px;
        font-size: 1rem;
    }
    .img2 p, .img1 p {
        font-size: 3rem;
    }
    .relatedProductsCarouselContainer {
        padding: 20px 0px;
    }
    .carouselCard .cardImg {
        max-height: 200px; /*height of carosuel is dependent on height of image*/
        object-fit:fill;
        width: 100%;
    }
}
@media (max-width: 749px){
    /* About page */
    .about_text_container .about_text {
     font-size: 0.75rem;
 }
}
@media (max-width: 660px){
    /* About page */
    .about_text_container .about_text {
     font-size: 0.47rem;
    }
       /* Product Detail page */
       #detailImgBannerContainer p {
        top: 35%;
        font-size: 2rem;
    }
}